.footer .social-links a {
    font-size: 0.9rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: 1px solid var(--bs-white);
    color: var(--bs-white);
    margin-top: 10px;
    margin-right: 10px;
    border-radius: 50%;
    text-align: center;
    width: 30px;
    height: 30px;
    transition: 0.5s;
}

.footer .social-links a i {
    line-height: 0;
}

.footer .social-links a:hover {
    background: var(--color-green);
}