/**about Styles*/
#about {
    padding-block: 4rem;
}

.about__text {
    text-align: center;
    color: #6b6b6b;
    margin-bottom: 1.5rem;
}
@media (max-width: 767px) {
    .about__title h1 {
        font-size: 2rem;
    }

    .about__text {
        font-size: 1rem;
    }

    #about .card-title, #about .card-text {
        background: var(--color-light);
    }
}