/***********************************************/
/**Dashboard Styles*/

.db__header {
    padding-inline: 17.813rem 1.5rem;
    height: 4.5rem;
    width: 100%;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
    background-color: var(--bs-white);
    box-shadow: 0 0.125rem 0.125rem -0.125rem rgba(31, 27, 45, .08), 0 0.25rem 0.75rem rgba(31, 27, 45, .08);
    transition: all 0.5s ease-in-out 0s;
}

.db__search {
    display: flex;
}

.db__search .form-control {
    border-radius: 5px;
    border: 1px solid transparent;
    background-color: #f2f7f9;
    border-radius: 0px 6px 6px 0;
    height: 2.6rem;
    direction: rtl;
}

.db__search .form-control:focus {
    box-shadow: none;
    border-color: var(--color-blue-dark);
    border-left: none;
}

.db__search .btn {
    height: 2.6rem;
    background-color: var(--color-blue-dark);
    color: var(--bs-white);
    border-radius: 6px 0px 0px 6px;
    margin-right: -1px;
    padding-inline: 1.1rem;
    transition: all 0.5s ease-in-out 0s;
}

.db__search .btn:hover {
    background-color: var(--color-blue-dark2);
}

.db__navbar {
    display: flex;
}

/**Notifications*/
.db__navbar .notifications {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 0.7rem;
}

.db__navbar .notifications .btn {
    outline: none;
    border: none;
    color: var(--color-green);
    font-size: 1.5rem;
}

.db__navbar .notifications .dropdown-menu {
    border-color: #e9edf4;
    border-bottom: 10px solid var(--color-green);
    background: var(--bs-white);
    border-radius: 6px;
    transform: translate3d(40%, 50px, 0px) !important;
    /* top: 5px !important;
    right: -16.8rem !important;
    767
     */
    width: 18rem;
    padding-top: 0;
    box-shadow: 0 0.125rem 0.125rem -0.125rem rgba(31, 27, 45, .08), 0 0.25rem 0.75rem rgba(31, 27, 45, .08);
}

.db__navbar .notifications .dropdown-menu:before {
    content: "";
    width: 13px;
    height: 13px;
    background: var(--color-green);
    position: absolute;
    top: -7px;
    right: 50%;
    transform: rotate(45deg);
    border-top: 1px solid var(--color-green);
    border-left: 1px solid var(--color-green);
}

@media (max-width: 767px) {
    .db__navbar .notifications .dropdown-menu {
        transform: translate3d(-36%, 50px, 0px) !important
    }
}

@media (max-width: 436px) {
    .db__navbar .notifications .dropdown-menu {
        transform: translate3d(50%, 50px, 0px) !important;
    }

    .db__navbar .notifications .dropdown-menu:before {
        right: 56%;
    }
}



.db__navbar .notifications .dropdown-menu .drop-heading {
    text-align: center;
    background-color: var(--color-green);
    color: var(--bs-white);
    border-radius: 6px 6px 0 0;
    padding-block: 0.6rem;
    display: flex;
    justify-content: center;
}

.db__navbar .notifications .dropdown-menu .drop-body {
    overflow: scroll;
    height: 15rem;
}

.db__navbar .notifications .dropdown-menu .drop-body::-webkit-scrollbar {
    display: none;
}

.db__navbar .notifications .dropdown-menu .drop-body .dropdown-item {
    white-space: normal;
    border-bottom: 1px solid #f2f7f9
}

.db__navbar .notifications .dropdown-menu .drop-body .dropdown-item:hover {
    background-color: #f2f7f9;
}

.db__navbar .notifications .dropdown-menu .drop-body .dropdown-item i {
    color: var(--color-blue-dark);
}

.db__navbar .notifications .drop-body .notification-label {
    color: var(--color-blue-dark2);
    width: 5rem;
    font-size: 1rem;
    text-align: right;
    width: 100%;
}

/**User Avatar*/
.db__navbar .user__avatar .btn, .db__navbar .user__avatar .btn:focus {
    display: flex;
    justify-content: space-between;
    align-items: center;
    outline: none;
    border: none;
    background-color: #f2f7f9;
    border-radius: 6px;
}

.db__navbar .user__avatar .btn h6 {
    margin-bottom: 0;
    font-size: 0.9rem;
    font-weight: 600;
    color: var(--color-blue-light);
}

.db__navbar .user__avatar .btn i {
    color: var(--color-blue-dark);
    margin-left: 0.5rem;
}

.db__navbar .user__avatar .dropdown-menu {
    border-color: #e9edf4;
    background: var(--bs-white);
    border-radius: 6px;
    top: 5px !important;
    left: 10px !important;
    box-shadow: 0 0.125rem 0.125rem -0.125rem rgba(31, 27, 45, .08), 0 0.25rem 0.75rem rgba(31, 27, 45, .08);
}

.db__navbar .user__avatar .dropdown-menu:before {
    content: "";
    width: 13px;
    height: 13px;
    background: var(--bs-white);
    position: absolute;
    top: -7px;
    left: 20px;
    transform: rotate(45deg);
    border-top: 1px solid #e9edf4;
    border-left: 1px solid #e9edf4;
}

.db__navbar .user__avatar .dropdown-item {
    text-align: right;
    color: var(--color-blue-dark);
}

.db__navbar .user__avatar .dropdown-item:hover, .db__navbar .user__avatar .dropdown-item:focus {
    color: var(--bs-white);
    background-color: var(--color-blue-dark);
}

/**Sidebar Styles*/
.db__sidebar {
    width: 270px;
    background-color: var(--bs-white);
    background-image: url(../../../public/assets/images/hero-bg.png);
    background-position: left center;
    background-size: cover;
    box-shadow: 0 0.125rem 0.125rem -0.125rem rgba(31, 27, 45, .08), 0 0.25rem 0.75rem rgba(31, 27, 45, .08);
    transition: all 0.5s ease-in-out 0s;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 3;
}

.sidebar__header {
    text-align: center;
    padding: 1.2rem;
}

.sidebar__content {
    height: 75vh;
    overflow: scroll;
    padding: 1rem;
    margin-block: 2rem;
}

.sidebar__content::-webkit-scrollbar {
    width: 3px;
}

.sidebar__content::-webkit-scrollbar-track {
    background-color: var(--color-light);
}

.sidebar__content::-webkit-scrollbar-thumb {
    background-color: var(--color-blue-light);
}


.sidebar__content .nav-item {
    margin-block: 0.4rem;
}


.sidebar__content .nav-link {
    padding-inline: 0.5rem;
    border-bottom: 1px solid #e9edf4;
    transition: all 0.5s ease-in-out 0s;
    color: var(--color-blue-light);
    font-size: 1.1rem;
    text-align: right;
    border-radius: 6px;
}

.sidebar__content .nav-item .active, .sidebar__content .nav-link:hover {
    background-color: #e9edf4;
    border-right: 8px solid var(--color-blue-dark);
    color: var(--color-blue-dark2);
}

.sidebar__content .nav-link i {
    color: var(--color-green);
    margin-left: 2rem;
    font-size: 1.3rem;
}

.sub__items ul {
    text-align: right;
    list-style: disc;
    margin-top: 1rem;
    padding-inline: 0.9rem 0.5rem;
    margin-right: 2.1rem;
    border-right: 1px solid #eee;
    display: none;
}

.sub__items ul li {
    padding-block: 0.4rem;
}

.sub__items ul li::marker {
    color: var(--color-blue-dark);
}

.sub__items ul li a {
    color: var(--color-green);
}

.sub__items ul li a:hover, .sub__items ul li .active__sub {
    color: var(--color-blue-light);
}

.show__sub ul {
    display: block;
}

.last__update {
    color: var(--color-blue-dark2);
    position: relative;
}

.last__update::after {
    content: "";
    width: 1px;
    height: 100%;
    background-color: var(--color-blue-dark);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 1.5rem;
    z-index: 0;
}

.last__update li {
    background-color: transparent;
    position: relative;
    /* z-index: 4; */
}

.last__update li i {
    position: relative;
    color: var(--color-blue-dark);
    background-color: #fff;
    z-index: 1;
}

/****footer******/
.db__client .footer {
    position: relative;
    z-index: 5;
    margin-top: 1rem;
}


@media (max-width: 991px) {
    .db__header {
        padding-inline: 0.5rem;
    }

    .db__navbar .notifications .dropdown-menu {
        /* top: 5px !important;
        right: -50% !important;
        width: 20rem; */
    }

    .db__navbar .notifications .dropdown-menu:before {
        left: 8rem
    }

    .db__search {
        display: none;
    }

    .db__sidebar {
        position: fixed;
        z-index: 10000;
        width: 0;
        top: 0;
        bottom: 0;
        left: -100px;
        right: 0;
        background-color: var(--color-light);
        display: none;
        text-align: center;
        padding: 1rem 1rem;
        box-shadow: 0 0.125rem 0.125rem -0.125rem rgba(31, 27, 45, .08), 0 0.25rem 0.75rem rgba(31, 27, 45, .08);
        transition: all 8s ease-in-out 5s;
    }

    .nav-active .db__sidebar {
        display: block;
        left: 0;
        width: 100%;
    }

    .nav-active .close_nav__btn {
        display: flex;
    }
}



/**db-content*/
.db-content {
    padding-inline: 17.813rem 1.5rem;
}

.content__header {
    padding-block: 1rem 0rem;
    color: var(--color-blue-dark);
    border-bottom: 1px solid #e9edf4;
}

.breadcrumb-item+.breadcrumb-item::before {
    float: right;
    margin-left: 0.7rem;
    content: "\F22D";
    font-family: bootstrap-icons !important;
}

.breadcrumb-item a, .breadcrumb-item a:hover {
    color: var(--color-green) !important;
}

.content__header .page-title {
    font-size: 1.3rem;
}

@media (max-width: 991px) {
    .db-content {
        padding-inline: 0.5rem;
    }
}

.table-striped>tbody>tr:nth-of-type(odd)>* {
    --bs-table-accent-bg: var(--bs-white);
    color: #93a5b8;
}

.table>:not(caption)>*>* {
    background-color: #f9fbfc;
    border-bottom-width: 0;
    color: #93a5b8;
}

.page-link, .page-link:focus {
    background: transparent;
    border: 0;
    color: #93a5b8;
    box-shadow: none !important;
    font-weight: 600;
    border-radius: 0 !important;
}

.active>.page-link, .page-link.active, .page-link:hover {
    background: transparent;
    color: #5c6f7a;
}

.previous, .next {
    color: #5c6f7a;
}

/*add order**/
.sw-main {
    display: flex;
    justify-content: center;
}

.step-anchor {
    width: 95%;
    justify-content: center;
}

.step-anchor .nav-item {
    position: relative;
    list-style: none;
    width: 20%;
}

.step-anchor .nav-item::before {
    position: absolute;
    content: '';
    background-color: #e5e9eb;
    right: 0;
    height: 0.3rem;
    width: 100%;
}

.step-anchor .nav-item::after {
    position: absolute;
    top: -0.5rem;
    right: 0;
    content: "\f287";
    color: #a7b1bb;
    /* content: "\f26a"; */
    font-size: 1.2rem;
    display: inline-block;
    font-family: bootstrap-icons !important;
    font-style: normal;
    font-weight: 400 !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: -.125em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.step-anchor .active::before {
    background-color: var(--color-green);
}

.step-anchor .active::after {
    color: var(--color-green);
    right: -1px;
}

.step-anchor .done::after {
    content: "\f26a";
    background-color: white;
    border-radius: 50%;
}

.step-anchor .nav-link {
    color: var(--bs-dark);
    font-weight: bold;
    border: none !important;
    outline: none !important;
}

.step-anchor .nav-link:hover, .step-anchor .active .nav-link {
    color: var(--color-green);
}

@media (max-width: 991px) {
    .step-anchor {
        width: 95%;
        display: block;
    }

    .step-anchor .nav-item {
        width: 100%;
    }

    .step-anchor .nav-link {
        padding-top: 1rem;
        padding-right: 1rem;
    }
}

.panel-tabs li a {
    background-color: var(--color-light);
    color: var(--color-blue-light);
    border: 1px solid var(--color-blue-light);
    font-size: 0.8rem;
    border-radius: 5px;
    padding: 0.3rem 1rem;
    font-weight: 500;
    margin: 0.5rem;
    transition: all 0.2s ease-in-out 0s;
}

.panel-tabs li a:hover, .panel-tabs li .active {
    border: 1px solid var(--color-blue-light);
    background-color: var(--color-blue-light);
    color: var(--bs-white);
}

.table .active td {
    --bs-table-accent-bg: var(--bs-table-hover-bg);
    color: var(--bs-table-hover-color);
}

.in__message {
    background-color: #f4f5f6;
    color: #90aab7;
    position: relative;
}

.in__message:before {
    content: "";
    width: 13px;
    height: 13px;
    background: #f4f5f6;
    position: absolute;
    top: 12px;
    right: -5px;
    transform: rotate(45deg);
}

.out__message {
    background-color: #fbfcfd;
    color: #90aab7;
    position: relative;
}

.out__message:before {
    content: "";
    width: 13px;
    height: 13px;
    background: #fbfcfd;
    position: absolute;
    bottom: 12px;
    left: -5px;
    transform: rotate(45deg);
}

.send textarea, .send textarea:focus {
    background-color: #f4f5f6;
    border-radius: 10px;
    color: var(--color-blue-dark);
    font-size: 1rem;
    border: none;
}

.send .btn {
    outline: none;
    border: none;
    font-size: 1.5rem;
    color: var(--color-blue-light);
}

.send .btn:hover {
    color: var(--color-blue-dark);
}