/** Typography Styles */


/****
 * Headings *
*****/

/** h1 */
.t_h1 {
    font-size: 2.8rem;
    line-height: 3rem;
}

/** h2 */
.t_h2 {
    font-size: 2.5rem;
    line-height: 2.9rem;
}

/** h3 */
.t_h3 {
    font-size: 2.2rem;
    line-height: 2.8rem;
}

/** h4 */
.t_h4 {
    font-size: 1.9rem;
    line-height: 2.5rem;
}

/** h5 */
.t_h5 {
    font-size: 1.6rem;
    line-height: 2.2rem;
}

/** h6 */
.t_h6 {
    font-size: 1.3rem;
    line-height: 1.9rem;
}


/****
 * Paragraphs *
*****/

/** body-1 */
.t_body1 {
    font-size: 1.3rem;
    line-height: 2rem;
}

/** body-2 */
.t_body2 {
    font-size: 1.1rem;
    line-height: 1.8rem;
}

/** body-3 */
.t_body3 {
    font-size: 1rem;
    line-height: 1.6rem;
}

/****
 * Span *
*****/

/** Span-1 */
.t_span1 {
    font-size: 0.8rem;
    font-weight: 600;
}

/** Span-1 */
.t_span2 {
    font-size: 0.7rem;
    font-weight: 600;
}

/** Span-1 */
.t_span3 {
    font-size: 0.6rem;
    font-weight: 600;
}


/****
 * Media Query ***************
*****/
@media (max-width: 767px) {

    /****
     * Headings *
    *****/

    /** h1 */
    .t_h1 {
        font-size: 2rem;
        line-height: 2.3rem;
    }

    /** h2 */
    .t_h2 {
        font-size: 1.8rem;
        line-height: 2.2rem;
    }

    /** h3 */
    .t_h3 {
        font-size: 1.6rem;
        line-height: 2rem;
    }

    /** h4 */
    .t_h4 {
        font-size: 1.3rem;
        line-height: 1.7rem;
    }

    /** h5 */
    .t_h5 {
        font-size: 1.1rem;
        line-height: 1.5rem;
    }

    /** h6 */
    .t_h6 {
        font-size: 0.9rem;
        line-height: 1.3rem;
    }



    /****
     * Paragraphs *
    *****/

    /** body-1 */
    .t_body1 {
        font-size: 1.2rem;
        line-height: 2rem;
    }

    /** body-2 */
    .t_body2 {
        font-size: 1rem;
        line-height: 1.7rem;
    }

    /** body-3 */
    .t_body3 {
        font-size: 0.9rem;
        line-height: 1.5rem;
    }

}

/****
 * Custom Typography *
 *****/

/** h2 white blue */
.h2_white__blue {
    color: var(--bs-white);
    text-align: center;
    margin-bottom: 1.5rem;
}

.h2_white__blue span {
    position: relative;
    z-index: 100;
}

.h2_white__blue h2 span::after {
    content: "";
    position: absolute;
    bottom: 20px;
    right: 0;
    left: -10px;
    height: 1rem;
    z-index: -1;
    width: 115%;
    background-color: var(--color-blue-dark);
}


/** h2 dark blue */
.h2_dark__blue h2 {
    color: var(--bs-dark);
    text-align: center;
}

.h2_dark__blue>h2>span {
    color: var(--color-blue-light);
    text-decoration: underline;
}


/** footer h4 */
.footer_h5 {
    color: var(--bs-white);
    margin-bottom: 1rem;
    margin-right: 0.5rem;
    position: relative;
    z-index: 20;
}

.footer_h5::after {
    content: "";
    position: absolute;
    bottom: 10px;
    right: 0;
    left: -10px;
    height: 1rem;
    z-index: -1;
    width: 50%;
    background-color: var(--color-green);
}