
#serv .card {
    border-radius: 3px;
    position: relative;
    background-image:url(../../../public/assets/images/bg-card.png);
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 2rem;
    border: none;
}

#serv .card::after {
    content: "";
    position: absolute;
    border-radius: 2px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    height: 0.6rem;
    width: 80%;
    background-color: var(--color-blue-dark);
}

.type__serv {
    color: var(--color-blue-light);
    margin-bottom: 0.8rem;
}

#serv .card-text {
    color: #757575;
}

.time__serv {
    color: var(--bs-dark);
    margin-bottom: 0.8rem;
}