/** import font family */
@font-face {
  font-family: 'IBM Plex Sans Arabic';
  font-style: normal;
  font-weight: 400;
  src: url(/public/assets/fonts/IBMPlexSansArabic/IBMPlexSansArabic-Regular.ttf) format('woff2');
}


/** global styles */
:root {
  --color-green: #0b6860;
  --color-blue-light: #0b3e8a;
  --color-blue-dark: #0d2d6c;
  --color-blue-dark2: #061d38;
  --color-light: #f5f7f7;
  --font-Sans: 'IBM Plex Sans Arabic', sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--color-light);
  font-family: var(--font-Sans);
}


a, a:hover {
  text-decoration: none;
}

::selection {
  background: var(--color-green);
  color: var(--bs-white);
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background-color: var(--color-light);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--color-green);
}